<ion-header>
  <ion-navbar>
    <ion-title>Hero Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>Name: {{hero.name}}</h1>
  <div *ngIf="hero.thumbnail">
    <img [src]="getImage(hero.thumbnail.path, hero.thumbnail.extension)">
    <p>{{getBio(hero.description)}}</p>
  </div>

  <button ion-button *ngIf="hero.comics" (click)="openComicsPage()" icon-start [disabled]="hero.comics.available == 0">
    <ion-icon name="book" item-start></ion-icon>
    {{hero.comics.available}} comics found.
  </button>


</ion-content>
