page-character-details {
  .topContent {
    position: relative;
    height: 250px;
    background-image: url('../assets/imgs/triangle.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 48%;
    .heroAvatar {
      position: absolute;
      bottom: -30px;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 100%;
      border: 5px solid #fff;
    }
  }
  .charInfo {
    padding: 5rem;
    text-align: center;
  }
}
