<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find your hero</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-searchbar [animated]="true" (input)="inputChange($event)" [(ngModel)]="searhInput"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<div class="listLoader" *ngIf="listLoader">
  <ion-spinner></ion-spinner>
</div>

<ion-content>
  <ion-list *ngIf="heroes">
    <ion-item *ngIf="heroes.length ===  0 && !listLoader">No heros found</ion-item>
    <button ion-item *ngFor="let hero of heroes" (click)="openCharDetailsPage(hero.id)" icon-start>
      <ion-avatar item-start>
        <img [src]="getImage(hero.thumbnail.path, hero.thumbnail.extension)">
      </ion-avatar>
      <h2>{{ hero.name }}</h2>
      <ion-badge item-end [color]="hero.comics.returned === 0 ? 'light' : 'primary'">{{hero.comics.returned}}</ion-badge>
    </button>
  </ion-list>
</ion-content>

<ion-footer (swipe)="tipPage($event)">
  <ion-toolbar>
    <ion-buttons start>
      <button type="button" ion-button icon-left (click)="prevPage($event)" [disabled]="paginationParams.currentPage == 1">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </button>
    </ion-buttons>
    <ion-title>{{paginationText}}</ion-title>
    <ion-buttons end>
      <button type="button" ion-button icon-right (click)="nextPage($event)" [disabled]="paginationParams.currentPage == paginationParams.pagesTotal">
        Next
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
