<ion-header>
  <ion-navbar>
    <ion-title>Comics</ion-title>
  </ion-navbar>
</ion-header>

<div class="listLoader" *ngIf="listLoader">
  <ion-spinner></ion-spinner>
</div>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let comic of heroComics" icon-start (click)="getComicDetails(comic.id)">
      <ion-thumbnail item-start>
        <img [src]="getImage(comic.thumbnail.path, comic.thumbnail.extension)">
      </ion-thumbnail>
      <h2>{{ comic.title }}</h2>
    </button>
  </ion-list>
</ion-content>

<ion-footer (swipe)="tipPage($event)" *ngIf="pagination">
  <ion-toolbar>
    <ion-buttons start>
      <button type="button" ion-button icon-left (click)="setPage(pagination.currentPage -1)" [disabled]="pagination.currentPage == 1">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </button>
    </ion-buttons>
    <ion-title>{{pagination.text}}</ion-title>
    <ion-buttons end>
      <button type="button" ion-button icon-right (click)="setPage(pagination.currentPage +1)" [disabled]="pagination.currentPage == pagination.pagesTotal">
        Next
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
