page-comics {
  .listLoader {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    z-index: 500;
  }
  ion-spinner * {
    width: 45px;
    height: 45px;
    stroke: #444;
    fill: #222;
  }
}
